<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vizija">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shirt"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.vizija.MainActivity"></activity>
        <activity android:name="com.example.vizija.doors_to_trial_room"></activity>
        <activity android:name="com.example.vizija.UploadActivity" />
        <activity android:name="com.example.vizija.Male_dress1" />
        <activity android:name="com.example.vizija.Dress1" />
        <activity android:name="com.example.vizija.Ishihara" />
        <activity
            android:name="com.example.vizija.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>